.add-icon {
    cursor: pointer;
}

.reupload-image {
    display: flex;
    justify-content: flex-start;
    gap: 20px
}

.reupload-icon {
    cursor: pointer;
}

.reupload-icon:hover {
    background-color: aliceblue;
}

.new-member-model {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.issue-post-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    border-radius: 8px;
    width: 600px;
}

.empty-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.empty-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.empty-text {
    font-size: 16px;
    color: #777;
    text-align: center;
    max-width: 300px;
    margin-bottom: 20px;
}

.btn.empty-button {
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn.empty-button:hover {
    background-color: #31a1f1;
}