.files-controller {
    overflow-y: auto;
    height: 470px;
    overflow-x: auto;
    width: 600px;
}

.files-controller::-webkit-scrollbar {
    height: 0;
}

.files-controller::-khtml-scrollbar {
    height: 0;
}

.scrollable-div::-moz-scrollbar {
    height: 0;
}

.files-controller::-webkit-scrollbar {
    width: 0;
}

.files-controller::-khtml-scrollbar {
    width: 0;
}

.files-controller::-moz-scrollbar {
    width: 0;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 0.2px solid var(--stroke, #E8E8E8);
    position: relative;
    padding: 1px;
    height: 270px;
    cursor: pointer;
    border-radius: 10px;
    z-index: 0;
    color: white;
        background-color: #07a6f0;
}

.image-loading-card {
    width: 200px;
    height: 230px;
    border-radius: 10px;
}
/* .card:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

*/
.file-section-card-img {
    width: 200px;
        height: 230px;
        border-radius: 10px;
    
    }
    
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.middle-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
        gap: 15px;
}

.card-option {
    display: flex;
    height: 8px;
    transform: rotate(-90deg);
    align-items: flex-start;
    gap: 2px;
    flex-shrink: 0;
}

.point {
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    background-color: rgba(206, 206, 208, 0.897);
    border-radius: 50%;
    cursor: pointer;
}

.file-name {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
        margin-left: 5px;
}

.uploaded-by {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.img-container {
    width: 150px;
}

.file-section-card-img {
    object-fit: cover;
    border-radius: 10px;
}

.files-controller {
    display: flex;
    justify-content: space-between;
}

.file-details {
    width: 300px;
    border: 1px solid var(--stroke, #E8E8E8);
    background: #FFF;
    padding: 20px;
}

.side-details-file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.file-details-title {
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    background-color: #fffcfc;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #e6e6e6;
    color: #000;
}

.square {
    background-color: rgb(146, 250, 146);
    width: 8px;
    height: 30px;
    margin-top: 6px;
    margin-left: 70px;
}

.property {
    margin-top: 10px;
    align-self: flex-start;
    font-weight: 600;
    color: #222222;
}

.details-of-file {
    width: 100%;
    margin-top: 5px;
}

.file-details-version {
    font-size: 15px;
    font-weight: 500;
    color: rgba(159, 159, 159, 0.875);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.file-details-user {
    font-size: 15px;
    font-weight: 500;
    color: rgba(159, 159, 159, 0.875);
}

.download-dxf {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border: 1px solid var(--stroke, #E8E8E8);
    background: #f3f3f3;
    border-radius: 10px;
}

.file-dxf {
    display: flex;
    gap: 15px;
    padding: 10px;
}


.dxf-icon {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.name-file-dxf {
    font-weight: 700;
}

.type-file-dxf {
    font-weight: 400;
    color: #a1a1a1;
}

.hr-details {
    width: 250px;
    height: 1px;
    background: #E8E8E8;
    margin: 10px 100px;
    align-self: center;
}

.commit-field {
    display: flex;
    flex-direction: column;
    width: 99%;
    justify-content: flex-start;
}

.show-file-details {
    padding: 10px;
    width: 100%;
    border: 1px solid var(--stroke, #E8E8E8);
}

.ReactModal__Overlay {
    z-index: 9;
}
.check-conflict-model {
    display: flex;
    flex-direction: column;
    color: #000;
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 20%;
    top: 50px;
    border: 1px solid var(--stroke, #E8E8E8);
    background: #FFF;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.check-conflict-model {
    opacity: 0;
    transition: opacity 0.3s;
}

.check-conflict-model.ReactModal__Content--after-open {
    opacity: 1;
}

.svg-image {
    transform: scale(0.95);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}

.check-conflict-model.ReactModal__Content--after-open .svg-image {
    transform: scale(1);
    opacity: 1;
}
.close {
    align-self: flex-end;
    position: absolute;
}

.svg-image {
    z-index: 999999;
}

.commit-field-title {
    font-size: 15px;
    color: #a1a1a1;
}

.input-upload-file {
    display: flex;
    gap: 10px;
    margin: 0px 10px;
    align-self: center;
    width: 100%;
    margin-left: 20px;
}

.updated-file {
    background-color: #07a6f0;
    align-self: flex-start;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.updated-file:hover {
    background-color: #21b4f8;
}

.zindex {
    z-index: 9999;
}

.loading-green {
    background-color: rgb(159, 254, 17) !important;
}

.on-procress {
    cursor: default;
    background: #73bff5fa;
    padding: 10px 20px;
    gap: 10px;
    align-self: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    text-align: center;
}

.on-procress:hover {
    background: #73bff5fa;
}

.number-of-letter {
    font-size: 13px;
    align-self: flex-end;
    margin-right: 5px;
}

.download-icon {
    display: flex;
    gap: 10px;
}

.view-svg {
    cursor: pointer;
}

.download-dxf-file {
    cursor: pointer;
}

.check-commit {
    display: flex;
    gap: 10px;
    margin: 10px;
    align-self: center;
    width: 100%;
    margin-left: 20px;
}

.btn-commit {
    width: 180px;
    text-align: center;
}

.btn-check {
    width: 180px;
    text-align: center;
}

.color-btn-check {
    background-color: rgb(5, 255, 5);
}

.color-btn-check:hover {
    background-color: rgb(70, 253, 70);

}

.success {
    color: greenyellow;
}

.push {
    margin: 10px;
    width: 93%;
}

.top-side-details {
    font-weight: 700;
    font-size: 20px;
}

.btn-delete-file {
    margin-top: 10px;
    width: 90%;
}

.btn-commit-check {
    margin-top: 10px;
    width: 100%;
}

.btn-main-commit {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    justify-content: space-between;
}

.check-main {
    flex: 1;
}

.commit-main {
    flex: 1;
}
.branches-in-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.teams-branches {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.team-branch-main {
    font-size: 20px;
    font-weight: 700;
}
.files-card {
    display: flex;
    gap: 20px;
}