.dashboard-section {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px 0px 180px
}

.dashboard-title {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-left: 70px;
        height: 620px;
            overflow-y: auto;

        }
        
        .dashboard-container::-webkit-scrollbar {
            display: none;
        }
        
        .dashboard-container:-webkit-scrollbar {
            width: 0;
        }
        
        .dashboard-container::-khtml-scrollbar {
            width: 0;
        }
        
        .dashboard-container::-moz-scrollbar {
            width: 0;
        }

.dashboard-card {
    width: 350px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1.5px solid var(--stroke, #E8E8E8);
    background: #FFF;
    }
    
    .tasks-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 14px;
        gap: 5px;
    }
    
    .card-title {
        color: #000;
        font-family: Inter;
        font-size: 26px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 5px;
    }
    
    .tasks-card-new-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border: 1px dashed #0F8EEA;
        background: #FFF;
        padding: 10px;
        cursor: pointer;
    }
    
    .tasks-card-new-btn:hover {
        background-color: #5db8fa;
    }
    
    .tasks-card-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        height: 170px;
        overflow-y: auto;
    }

.tasks-card-list::-webkit-scrollbar {
    display: none; 
}
.tasks-card-list:-webkit-scrollbar {
       width: 0;
}
    
.tasks-card-list::-khtml-scrollbar {
    width: 0;
}
    
.tasks-card-list::-moz-scrollbar {
    width: 0;
}
    
    .task-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        border: 1px solid var(--stroke, #E8E8E8);
        padding: 10px;
    }
    
    .task-card-name {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .right-side-task-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    .tasks-card-points {
        display: flex;
        gap: 2px
    }
    
    .point-task {
        width: 8px;
        height: 8px;
        background-color: rgba(167, 167, 175, 0.62);
        border-radius: 50%;
}
.file-recent-card{
    padding: 10px;
}

.card-recent-file-list{
    display: flex;
    flex-direction: column;
padding: 10px;
gap: 5px;
height: 230px;
overflow-y: auto;
}

.card-recent-file-list::-webkit-scrollbar {
    display: none; 
}
.card-recent-file-list:-webkit-scrollbar {
       width: 0;
}
    
.card-recent-file-list::-khtml-scrollbar {
    width: 0;
}
    
.card-recent-file-list::-moz-scrollbar {
    width: 0;
}
.user-name-file {
    color: #0F172A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
}
.card-file{
    height: 500px;
    display: flex;
padding: 10px;
align-items: flex-start;
gap: 16px;
border-radius: 6px;
border: 1px solid #E5E7EB;
background: #FFF;
cursor: pointer;
width: 100%;
    height: 200px;
box-shadow: 0px 4px 4px 0px rgba(174, 174, 174, 0.25);
}
.card-file:hover{
    background: #faf9f9;
}
.top-chat-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--stroke, #E8E8E8);
    background: #F8F8F8;
}
.chat-list-card-container{
    display: flex;
    flex-direction: column;
height: 230px;
overflow-y: auto;
}

.chat-list-card-container::-webkit-scrollbar {
    display: none; 
}
.chat-list-card-container:-webkit-scrollbar {
       width: 0;
}
    
.chat-list-card-container::-khtml-scrollbar {
    width: 0;
}
    
.chat-list-card-container::-moz-scrollbar {
    width: 0;
}
.chat-list-card-item{
    display: flex;
    padding: 10px;
align-items: flex-start;
gap: 16px;
border-radius: 6px;
border-bottom: 1px solid #E2E2E2;
box-shadow: 0px 4px 4px 0px rgba(174, 174, 174, 0.25);
}
.room-title-card{
    color: rgba(15, 23, 42, 0.88);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}
.room-content-card{
    color: #747474;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.notification-card{
    display: flex;
    flex-direction: column;
}
.top-notoication-card{
display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--stroke, #E8E8E8);
    background: #F8F8F8;
}
.notification-title{
     color: #000;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight:700;
        line-height: normal;
        margin-bottom: 5px;
    }

.notification-list-item{
    display: flex;
padding: 10px;
align-items: flex-start;
gap: 16px;
border-radius: 6px;
border: 1px solid #E5E7EB;
background: #FFF;
cursor: pointer;
box-shadow: 0px 4px 4px 0px rgba(174, 174, 174, 0.25);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dashboard-card {
  animation: fadeIn 1s forwards;
  opacity: 0;
}

.image-user {
    width: 30px;
    height: 30px;
}

.svg-img-card-dashboard {
    width: 120px;
    height: 120px;
    transform: rotate(90deg);
    border-radius: 20px;
}

.file-recent-name {
    color: #0F172A;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
}

.middle {
    display: flex;
    justify-content: space-between;
    color: #0F172A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 200px;
}

.uploaded_at {
    display: flex;
    gap: 5px;
    color: #64748B;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}