.dashboard-section {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px 0px 180px
}

.dashboard-title {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    padding-left: 70px;
        height: 620px;
            overflow-y: auto;

        }
        
        .dashboard-container::-webkit-scrollbar {
            display: none;
        }
        
        .dashboard-container:-webkit-scrollbar {
            width: 0;
        }
        
        .dashboard-container::-khtml-scrollbar {
            width: 0;
        }
        
        .dashboard-container::-moz-scrollbar {
            width: 0;
        }

.dashboard-card {
    width: 350px;
    height: 280px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1.5px solid var(--stroke, #E8E8E8);
    background: #FFF;
    }
    
    .tasks-card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px;
        gap: 5px;
    }
    
    .card-title {
        color: #000;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 5px;
    }
    
    .tasks-card-new-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border: 1px dashed #0F8EEA;
        background: #FFF;
        padding: 10px;
        cursor: pointer;
    }
    
    .tasks-card-new-btn:hover {
        background-color: #5db8fa;
    }
    
    .tasks-card-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        height: 170px;
        overflow-y: auto;
    }

.tasks-card-list::-webkit-scrollbar {
    display: none; 
}
.tasks-card-list:-webkit-scrollbar {
       width: 0;
}
    
.tasks-card-list::-khtml-scrollbar {
    width: 0;
}
    
.tasks-card-list::-moz-scrollbar {
    width: 0;
}
    
    .task-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-radius: 10px;
        border: 1px solid var(--stroke, #E8E8E8);
        padding: 10px;
    }
    
    .task-card-name {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .right-side-task-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    .tasks-card-points {
        display: flex;
        gap: 2px
    }
    
    .point-task {
        width: 8px;
        height: 8px;
        background-color: rgba(167, 167, 175, 0.62);
        border-radius: 50%;
}
.card-title-files {
    padding: 10px 10px 5px 10px;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.card-recent-file-list {
    perspective: 1000px;
    /* Set perspective for 3D rotation */
}

.card-file {
    transform-style: preserve-3d;
    /* Preserve 3D transformations */
    transition: transform 1s ease;
    /* Smooth transition effect */
    position: relative;
    border: 1px solid var(--stroke, #E8E8E8);

}

.card-file:hover {
    transform: rotateY(180deg);
    border: 1px solid var(--stroke, #E5E7EB);
    /* Flip the card around the Y-axis */
}

.card-face {
    position: absolute;
    top: 2px;
    color: #FFF;
    backface-visibility: hidden;
    border: 1px solid var(--stroke, #E5E7EB);
    padding: 20px;
    /* Hide the back of the pane during the swap */
}

.card-front {
    background-color: #000000 !important;
}

.card-back {
    transform: rotateY(180deg);
}
.file-recent-card{
overflow-y: auto;
    height: 233px;
}

.file-recent-card::-webkit-scrollbar {
    display: none;
}

.file-recent-card:-webkit-scrollbar {
    width: 0;
}

.file-recent-card::-khtml-scrollbar {
    width: 0;
}

.file-recent-card::-moz-scrollbar {
    width: 0;
}

.card-recent-file-list{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
        overflow-y: auto;
        flex-wrap: wrap;
        height: 1000px;
overflow-y: auto;
}

.card-recent-file-list::-webkit-scrollbar {
    display: none; 
}
.card-recent-file-list:-webkit-scrollbar {
       width: 0;
}
    
.card-recent-file-list::-khtml-scrollbar {
    width: 0;
}
    
.card-recent-file-list::-moz-scrollbar {
    width: 0;
}
.user-name-file {
    color: #0F172A;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.card-file{
padding: 12px 0px 12px 0px;
border-radius: 6px;
border: 1px solid #E5E7EB;
background: #FFF;
cursor: pointer;
width: fit-content;
box-shadow: 0px 4px 4px 0px rgba(174, 174, 174, 0.25);
}
.card-file:hover{
    background: #faf9f9;
    backface-visibility: hidden;
}
.top-chat-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--stroke, #E8E8E8);
    background: #F8F8F8;
}
.chat-list-card-container{
    display: flex;
    flex-direction: column;
height: 230px;
overflow-y: auto;
}

.chat-list-card-container::-webkit-scrollbar {
    display: none; 
}
.chat-list-card-container:-webkit-scrollbar {
       width: 0;
}
    
.chat-list-card-container::-khtml-scrollbar {
    width: 0;
}
    
.chat-list-card-container::-moz-scrollbar {
    width: 0;
}
.chat-list-card-item{
    display: flex;
    padding: 10px;
align-items: flex-start;
gap: 16px;
border-radius: 6px;
border-bottom: 1px solid #E2E2E2;
box-shadow: 0px 4px 4px 0px rgba(174, 174, 174, 0.25);
cursor: pointer;
}

.chat-list-card-item:hover {
    border-bottom: 3px solid #E2E2E2;
}
.room-title-card{
    color: rgba(15, 23, 42, 0.88);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; 
}
.room-content-card{
    color: #747474;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

.notification-card{
    display: flex;
    flex-direction: column;
}
.top-notoication-card{
display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 5px;
}
.notification-title{
     color: #000;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight:700;
        line-height: normal;
        margin-bottom: 5px;
    }

.notification-list-item{
    display: flex;
padding: 10px;
align-items: flex-start;
gap: 16px;
border-radius: 6px;
border: 1px solid #E5E7EB;
background: #FFF;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dashboard-card {
  animation: fadeIn 1s forwards;
  opacity: 0;
}

.image-user {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.svg-img-card-dashboard {
    width: 150px;
        height: 150px;
    border-radius: 20px;
    flex: 1;
        scale: 1.1;
    }
    
    .card-content-file {
        display: flex;
        flex: 1;
        gap: 7px;
            padding: 0px 10px 7px 10px;
}

.file-recent-name {
    color: #0F172A;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 20px;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #0F172A;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    height: 90px;
    border-radius: 10px;
}

.uploaded_at {
    display: flex;
    gap: 5px;
    color: #64748B;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    align-self: flex-end;
        margin-top: 45px;
    }
    
    .user-info-card {
        display: flex;
        gap: 10px;
        align-items: center;
        color: white;
    }
    
    .no-recent-files {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        color: #747474;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    
    .room-image-card {
        width: 50px;
        height: 50px;
}
.notification-card-conatainer {
    width: 550px;
    height: 270px;
    padding: 10px 0px 0px 10px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1.5px solid var(--stroke, #E8E8E8);
    background: #FFF;
}

.img-commit-not {
    transform: rotate(90deg) scale(1.3);
    width: 200px;
    height: 200px;
    margin-left: 30px;
    margin-right: 100px;
        border-radius: 20px;
}

.close-commit {
    background-color: red !important;
}

.right-not-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.user-info-card-not {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.btns-not {
}

.file-dash-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.top-card-file-recent {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 5px 10px;

}

.card-dash {
    position: relative;
    width: 300px;
    height: 45px;
        padding: 0.5rem 0rem 0rem 0rem;
    /* background: rgba(198, 198, 198, 0.34); */
    background-color: #0f8feac9;
        border: 0.5px solid var(--stroke, #E8E8E8);
    transition: .4s;
    overflow: hidden;
    color: white;
    cursor: pointer;
}

.card-dash:hover {
    height: 100px;
    transform: skew(0deg)
}

.align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
}

.red {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff605c;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.yellow {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffbd44;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.green {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00ca4e;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.card-dash .h11 {
    text-align: center;
    color: rgb(218, 244, 237);
}

.button-accpt {
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background-color: #0f8eea;
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.button-accpt:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}

.button-accpt:active {
    box-shadow: inset 0px 0.1em 0.6em #0f8eea;
    transform: translateY(0em);
}

.button-refuse {
    font-size: 18px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: #f14242;
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    margin-top: 10px;
    width: 134px;
}

.button-refuse:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}

.button-refuse:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}

.no-recent-tastks {
        display: flex;
        justify-content: center;
            align-items: center;
            margin-top: 80px;
            margin-left: 130px;
            color: #747474;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
        
.recent-file-card {
        width: 350px;
        height: 280px;
        flex-shrink: 0;
    border-radius: 5px;
    border: 1.5px solid var(--stroke, #E8E8E8);
            background: #FFF;
}
.file-notification-name {
    color: #0F172A;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 10px;
}