.task-section {
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    width: 1479px;
        height: 750px;
        padding: 0px 0px 0px 27px;
        overflow-y: auto;
        overflow-x: auto;
    
    }
    
    .dashboard-container::-webkit-scrollbar {
        display: none;
    }
    
    .dashboard-container:-webkit-scrollbar {
        width: 0;
    }
    
    .dashboard-container::-khtml-scrollbar {
        width: 0;
    }
    
    .dashboard-container::-moz-scrollbar {
        width: 0;
    }
    
    .top-side-tasks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1450px;
    }
    
    .save-tasks {
        margin: 10px;
}