.files-section {
    padding: 0 10px;
    background: #FAFAFA;
    width: 1440px;
    height: 1024px;
}

.hr {
    width: 1183px;
    height: 1px;
    background: #E8E8E8;
    margin: 0px 100px
}

.file-section-title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.top-file-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 20px 60px;
    align-items: center;
}

.btn {
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background: #0F8EEA;
    cursor: pointer;
    }
    
    .delete {
        background-color: red;
}

.branches-filter {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px 20px 60px;
}

.file-section-card {
    padding: 20px;
}


.new-file-model {
    color: #000;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 500px;
    height: 300px;
    border: 1px solid var(--stroke, #E8E8E8);
    background: #FFF;
}

.model-title {
    display: flex;
    justify-content: center;
}

.new-file-model {}

.upload-file-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}

.input-upload-file {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.branches {
    width: 150px;
}