.outler-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-page {
    display: flex;
    width: 100%;
}
    
/* .sidebar {
    flex: 1;
}

*/

.main{
    flex: 7;
    padding: 89px 0px 0px 43px
}

    