  @keyframes fadeInMoveLeft {
      0% {
          opacity: 0;
          transform: translateX(-20px);
      }

      50% {
          opacity: 1;
          transform: translateX(0);
      }

      100% {
          opacity: 0;
          transform: translateX(-20px);
      }
  }

  @keyframes fadeInMoveRight {
      0% {
          opacity: 0;
          transform: translateX(20px);
      }

      50% {
          opacity: 1;
          transform: translateX(0);
      }

      100% {
          opacity: 0;
          transform: translateX(20px);
      }
  }

  #part1 {
      animation: fadeInMoveLeft 3s infinite;
  }

  #part2 {
      animation: fadeInMoveRight 3s infinite;
  }