  @keyframes fadeInMoveLeft {
      0% {
          opacity: 0;
          transform: translateX(-20px);
      }

      50% {
          opacity: 1;
          transform: translateX(0);
      }

      100% {
          opacity: 0;
          transform: translateX(-20px);
      }
  }

  @keyframes fadeInMoveRight {
      0% {
          opacity: 0;
          transform: translateX(20px);
      }

      50% {
          opacity: 1;
          transform: translateX(0);
      }

      100% {
          opacity: 0;
          transform: translateX(20px);
      }
  }

  #part1 {
    animation: fadeInMoveLeft 2s infinite;
    background-color: rgb(119, 88, 46);
  }

  #part2 {
    animation: fadeInMoveRight 2s infinite;
    background-color: rgb(212, 212, 212);
    }
    
    .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 98vw;
        height: 85vh;
    }
    
    .logo-container svg {
        width: auto;
        height: auto;
    }