.issues-container {
    display: flex;
    padding: 20px 20px 0px 20px;
    justify-content: space-between;
    gap: 20px;
    width: 1418px
}
.issues-section {
    padding: 0px 0px 0px 0px;
    background: #FAFAFA;
}

.issue-section-title {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 20px;
    
}


.issues-container .user-issues-container {
    flex: 1;
}

.issues-container .issue-post {
    flex: 3;
}

.issues-container .issue-media {
    flex: 1;
}


.user-issues-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--stroke, #E8E8E8);
    background: #FFF;
    border-radius: 10px;
    height: 600px;
}


    
.user-issues-container:-webkit-scrollbar {
    width: 0;
}
    
.user-issues-container::-khtml-scrollbar {
    width: 0;
}
    
.user-issues-container::-moz-scrollbar {
    width: 0;
}
.user-issues-titles {
    display: flex;
    padding: 20px 20px 0px 20px;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}
    
.selected {
    background-color: #f0f0f088;
}

.user-issues-titles:hover {
    background: #EBEBEB;
}
.first-title {
    border-radius: 10px 10px 0px 0px;
}

.issue-name {
    height: 10px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.issue-sub-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.post-issue-title {
    color: #000;
    text-align: center;
    font-size: 20.98px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.post-issue {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    overflow-y: auto;
    height: 600px;
    }
    
.post-issue::-webkit-scrollbar {
    width: 0;
}
    
.post-issue::-khtml-scrollbar {
    width: 0;
}
    
.post-issue::-moz-scrollbar {
    width: 0;
}

.user-info-issue {
    display: flex;
    width: 521px;
    height: 61px;
    padding: 10px;
    align-items: flex-start;
    gap: 16px;
    border-radius: 6px;
}

.user-img-issues {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.line-space-title {
    height: 1px;
    width: 400px;
    background-color: #E8E8E8;

}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-name-issue {
    color: rgba(15, 23, 42, 0.88);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.user-job-issue {
    color: #747474;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.issue-description {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    white-space: wrap;
        text-overflow: ellipsis;
        width: 500px;
}

.issue-post-img {
    display: flex;
    align-items: flex-start;
    gap: 10px;
border: 1px solid var(--stroke, #E8E8E8);
    border-radius: 10px;

}

.post-image {
    width: 200px;
    height: 180px;
    border-radius: 10px;
}

.points {
    align-self: flex-start;
}

.img-post-details {
    display: flex;
    width: 112px;
    padding: 20px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.img-name {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.img-description {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.points {
    display: flex;
    gap: 2px;
    padding: 10px;
}

.issue-post-comments {
    display: flex;
    width: 521px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.comment {
    display: flex;
    width: 521px;
    height: 61px;
    padding: 10px;
    align-items: flex-start;
    gap: 16px;
    border-radius: 6px;
    border-bottom: 1px solid #E2E2E2;
    box-shadow: 0px 4px 4px 0px rgba(174, 174, 174, 0.25);
}

.right-side-comment {
    display: flex;
    flex-direction: column;
}

.user-info-comment {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.content-comment {
    color: #565656;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.user-name-issue-comment {
    color: rgba(15, 23, 42, 0.88);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.user-job-issue-comment {
    color: #747474;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.new-issue-model {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #000;
    position: absolute;
    left: 30%;
    top: 10px;
    width: 500px;
    border: 1px solid var(--stroke, #E8E8E8);
    background: #FFF;
    border-radius: 6px;

}

.new-issue-model.noImage {
    top: 30%;
}

.textarea-image-decription {
    margin-top: 20px;
    width: 417px;
    padding-left: 10px;
    padding-top: 10px;
    height: 100px;
    border-radius: 6px;
    border: 1px solid var(--stroke, #E8E8E8);
}

.model-issue-conatainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.teaxt-are-dexription {
    width: 417px;
    padding-left: 10px;
    padding-top: 10px;
    height: 100px;
    border-radius: 6px;
    border: 1px solid var(--stroke, #E8E8E8);
}

#issue-image {
    display: none;
}

.issue-image-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.input-new-image:hover {
    background: #fdfdfd;
}
.issue-sub-title {
    overflow: hidden;
    height: 40px;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
}
#user-comment {
    width: 500px;
}
.post-issue-section {
    display: flex;
    flex-direction: column;
    height: 600px;
}


.svg-comment {
    z-index: 15;
}

.add-comment {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.issue-media {
    background-color: #FFF;
    border: 1px solid var(--stroke, #E8E8E8);
    padding: 20px;
    border-radius: 10px;
    height: 600px;
        overflow: hidden;

}

.media-content {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.members-tag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.top-member-tag {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.title-members {
    color: #212121;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.media-content-display {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.top-media-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.title-media {
    color: #212121;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.issue-post-img-content {
    display: flex;
    align-items: flex-start;
    border: 1px solid var(--stroke, #E8E8E8);
    border-radius: 10px;
}

.user-media-upload {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 7px 5px;
}

.user-img-media {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.media-card {
    border: 1px solid var(--stroke, #E8E8E8);
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.media-card:hover {
    background-color: #fafafa;
}

.issue-post-img-media {
    display: flex;
    align-items: flex-start;

}
.media-list {
    overflow-y: auto;
    height: 405px;
}

.media-list::-webkit-scrollbar {
    width: 0;
}

.media-list::-khtml-scrollbar {
    width: 0;
}

.media-list::-moz-scrollbar {
    width: 0;
}
