.chat-section {
    display: flex;
    padding: 0px 0px 0px 27px;
    background: #EEEEEE;
    height: 89.2vh;

}
.left-side-chat {
    width: 330px;
    height: 700px;
    margin-left: 20px;

}
    
    
.top-left-side {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--stroke, #E8E8E8);
    width: fit-content;
    border-radius: 20px;
        padding: 20px;
        background-color: #ffffff;
        align-items: center;
        gap: 10px;

}

.chat-word {
    font-weight: 700;
    font-size: 20px;
}
.contact{
    padding: 10px;
    border-right: 1px solid var(--stroke, #E8E8E8);
    padding: 10px 52px;
}
.contact:hover{
    background-color: #E8E8E8;
}
.chat-name-navbar {
    border: 1px solid var(--stroke, #E8E8E8);
    padding: 15px;
        margin-left: 40px;
    display: flex;
    border-radius: 20px;
    gap: 10px;
    align-items: center;
    background-color: #ffffff;
    }
                .name {
                    color: #000;
                }
        
.bottom-left-side {
    width: 360px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--stroke, #E8E8E8);
        margin-top: 10px;
        border-radius: 20px;
        background: #ffffff;
}

.line-space-chat {
    height: 1px;
    width: 280px;
    margin-left: 10px;
    background-color: #E8E8E8
}

.contact-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
        height: 500px;
        margin-top: 50px;
    
    }
    
    .user-name-info-contact {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    
    .date-name {
        width: 100%;
        color: #929292;
    
    
    }
    
    .display-text {
        font-size: 15px;
        color: #929292;
    }
    
    .all {
        position: absolute;
        font-size: 13px;
        color: #929292;
        left: 110px;
        top: 200px
    }
    
    .date {
        font-size: 10px;
    }
    
    .contact-list::-webkit-scrollbar {
        width: 0;
    }
    
    .contact-list::-khtml-scrollbar {
        width: 0;
    }
    
    .contact-list::-moz-scrollbar {
        width: 0;
}
.user-info-contact {
    display: flex;
    padding: 20px 20px 20px 10px;
    gap:10px;
    cursor: pointer;
    
    
}
    
.user-chat-contact-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user-room-contact-img {
    width: 50px;
        height: 50px;
}

.user-info-contact:hover {
    background-color: #E9E9E9;
        border-radius: 20px;
}

.room-list {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    margin-top: 18px;
    overflow-y: auto;
    height: 630px;
    
}
    
.room-list::-webkit-scrollbar {
    width: 0;
}
    
.room-list::-khtml-scrollbar {
    width: 0;
}
    
    .room-list::-moz-scrollbar {
    width: 0;
}
.room-info-contact {
    display: flex;
    padding: 10px 20px 20px 10px;
    gap:10px;
    cursor: pointer;
    
}
.right-side-chat {
    width: 800px;
    height: 560px;
}
.chat-empty{
    height: 500px;
        margin-left: 42px;
        margin-top: 12px;
        background-color: #F6F6F6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.chat-container{
    height: 550px;
    border: 1px solid var(--stroke, #E8E8E8);
        margin-left: 42px;
        margin-top: 12px;
        border-radius: 20px;
        background-color: #F6F6F6;}

.message-info {
    display: flex;
    padding: 10px 20px 10px 10px;
    gap:10px;
    align-items: center;
    justify-content: flex-start;
}

.message {
    border: 1px solid var(--stroke, #E8E8E8);
    background-color: red;
}
.chat-part {
    overflow-y: auto;

}

.chat-part::-webkit-scrollbar {
    width: 0;
}

.chat-part::-khtml-scrollbar {
    width: 0;
}

.chat-part::-moz-scrollbar {
    width: 0;
}
.send-input{
        width: 696px;
            padding: 10px;

}
.input-chat-field{
    position: absolute;
    display: flex;
    align-items: center;
    top: 715px;
        padding: 10px 10px 10px 10px;
        background-color: #F6F6F6;
        border-radius: 0px 0px 20px 20px;
}
.user-message{
    flex-direction: row-reverse;
}
.create-room{
    padding: 20px;
    cursor: pointer;
}
.create-room:hover{
    background-color: #E8E8E8;
}


.new-room-model {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #000;
    position: absolute;
    left: 30%;
    width: 500px;
    bottom:50%;
    border: 1px solid var(--stroke, #E8E8E8);
    background: #FFF;
    border-radius: 6px;
    gap:20px

}
.message-info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}


.message-info > img.user-chat-contact-img {
  margin-right: 10px; 
}


.user-message {
    flex-direction: row;
  justify-content: flex-end;

}

.user-message > img.user-chat-contact-img {
  margin-left: 10px; 
  order: 1;
}
.message-container {
    border: 1px solid var(--stroke, #E8E8E8);
    padding: 10px 20px;
    border-radius: 20px;
}

.user-message .message-container{
    background-color: rgb(106, 157, 252) !important;

}
.user-name-message{
    font-size: 15px;
    font-weight: 700;

}


.message-container {
    background-color: #E8E8E8;
}

.user-message .user-name-message{
    color: #E8E8E8;

}
